.my-moto-info {
  .content {
    &-item {
      .item-name {
        @apply w-36 inline-block font-bold;
      }
      @apply flex-1;
    }
    @apply py-4 border-t;
  }
  .maintenance-title2 {
    @apply text-2xl font-bold normal-case  mb-2;
  }
  .maintenance-schedule {
    .maintenance-item {
      .item-status {
        @apply absolute right-5 top-2;
      }
      .item-name {
        @apply font-bold mb-2;
      }
      .item-date {
        @apply text-center;
      }

      @apply relative w-[30%] border rounded-xl font-bold mb-4 p-2 bg-blue-500 bg-opacity-60 text-blue-700 cursor-pointer;
    }
    @apply flex justify-between flex-wrap;
  }
  .over-detail-wrap {
    .over-detail {
      &-title {
        @apply text-xl font-bold mb-4 ;
      }
      .over-detail-content {
        .content-item {
          @apply flex justify-between;
        }
        .content-description {
          textarea {
            @apply w-full border-gray-500 focus:outline-none rounded-lg resize-none bg-gray-100
          }
        }
        .over-detail-status{
          @apply absolute bottom-4 right-2 p-2 rounded-lg font-bold;
        }      
        @apply relative p-4 border border-gray-500 rounded-lg;
      }
      .btn-cancel {
        @apply text-xl px-4 cursor-pointer hover:opacity-80;
      }
      @apply absolute duration-700 p-4 rounded-lg h-fit border shadow-lg bg-white top-10 w-2/3 translate-y-full opacity-0 ease-in-out bg-gray-100;
    }
    @apply flex justify-center
  }
  @apply text-lg relative;
}

.used {
  background-image: linear-gradient(to bottom right, rgb(207, 204, 204), rgb(120, 155, 161)) !important;
  color: #000000 !important;
  opacity: 0.77;
  .item-status {
    color: #3c3b3b !important;
  }
}

.normal {
  background-image: linear-gradient(to bottom right, rgb(193, 218, 222), rgb(65, 126, 226)) !important;
  color: #0d0db1 !important;
}

.active-moto {
  background-image: linear-gradient(to bottom right, rgb(104, 220, 228), rgb(17, 19, 136)) !important;
  color: #ffffff !important;
}

.disable {
  background-color: rgb(206, 78, 78) !important;
  color: #ffffff !important;
}
