.input-field {
    padding: 4px;
}

.error {
    color: #ff1000;
    @apply text-xs p-1;
}

label {
    line-height: 2;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 4px 8px;

    border: 1px solid #09358d;
    border-radius: 8px;
    margin-top: 4px;
    font-size: inherit;
}

input:focus {
    outline: 1px solid #09358d;
}

input[type="radio"] {
    margin: 0;
    transform: scale(0.625);
    width: 24px;
    height: 24px;
    transition: all 0.5s;
}

input[type="radio"]:checked {
    outline: none;
}

input[type="radio"]:checked + label {
    color: #f5420b;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 12px 4px;
    border: 1px solid #e3e7ef;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0;

    option {
        margin: 10px;
        padding: 10px;
    }
}
select:focus {
    border: 1px solid #09358d;
    outline: 1px solid #09358d;
}

.select-field {
    &-selected {
        .icon {
            @apply absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none;
        }
        @apply bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
    }

    &-options {
        @apply absolute mt-1 z-10 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm;
    }
    @apply block text-sm font-medium text-gray-700 mt-1 relative  border-2 rounded mx-2;
}

.form {
    .form-label {
        @apply block text-sm font-medium text-gray-700;
    }
    .form-input {
        @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
    }
    .form-error {
        @apply text-red-500;
    }
    .form-checkbox {
        @apply h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded;
    }
    .form-button {
        @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }
}
