.login {
    .box-login {
        .box-login-container {
            .container-title {
                @apply mt-6 text-3xl font-bold uppercase text-center text-gray-900;
            }
            .container-body {
                .login-width {
                    @apply text-sm font-medium text-gray-700;
                }
                .login-width-list {
                    @apply mt-1 grid grid-cols-3 gap-3;
                    .item {
                        @apply w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
                    }
                }
                @apply mt-8;
            }
            @apply mx-auto w-full max-w-sm lg:w-96;
        }
        @apply flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none;
    }
    @apply min-h-full flex;
}

.show-pass {
    @apply absolute inline-block translate-y-2/4 right-2 top-0;
}

@keyframes tranplate {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
